/* Fullpage */
html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow:hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#superContainer {
    height: 100%;
    position: relative;

    /* Touch detection for Windows 8 */
    -ms-touch-action: none;

    /* IE 11 on Windows Phone 8.1*/
    touch-action: none;
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
}
.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important;
}
/* Meterialize */
.container {
  display: flex;
  align-items: center;
  height: 100%;
}
/* Contact Form */
.input-field input[type=text],
.input-field input[type=email],
textarea.materialize-textarea {
  color: #decfbc;
}
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
textarea.materialize-textarea:focus {
  border-bottom: 1px solid #b30000 !important;
  box-shadow: 0 1px 0 0 #b30000 !important;
}
form .btn {
  background-color: #decfbc;
}
form .btn:hover {
  background-color: #b30000;
}
/* Sections Space Background */
#section0{
    background: #000000 !important;
}
#footer {
    background: #000000 !important;
}
/*Animations*/
@keyframes bounceOut {
    0% {box-shadow: 0 0 0 4px #b30000;opacity: 1;}
    25% {box-shadow: 0 0 0 1px #8B1A1A;opacity: 1;}
    50% {box-shadow: 0 0 0 7px #3D1A1A;opacity: 1;}
    75% {box-shadow: 0 0 0 4px #8B1A1A;opacity: 1;}
    100% {box-shadow: 0 0 0 5px #b30000;opacity: 1;}
}
